[submodule "Yogarine.Util"]
	path = Yogarine.Util
	url = git@github.com:Yogarine/crayta-yogarine-util.git
[submodule "Yogarine.MovementCapture"]
	path = Yogarine.MovementCapture
	url = git@github.com:Yogarine/crayta-movement-capture.git
